@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <h4 >Matrix from CSV
        </h4>
        <form enctype="multipart/form-data" method="post">
            <p>
                <input type="file" name="f">
                <input type="submit" value="Send">
            </p>
        </form>

    </div>
</body>
</html>
